
create table(primary key)
drop (delete) table

insert into
update
delete from

selection
projection
renaming

set union
setdifference
cross product

--------------

no file IO
No parser (all through function calls)